# Dependencies
node_modules
dist
dist-ssr
*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Python
venv
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg-info/
dist/
build/

# IDE
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.swp
*.swo
*~

# Environment
.env
.env.local
.env.*.local
